.lead {
  max-width: 948px;
  padding: 0px 48px 92px 48px;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .lead {
    padding: 0px 32px 92px 32px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 0 0 92px 0;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    padding: 0 0 64px 0;
  }
}
