.place__url-heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #aaaaaa;
  padding: 0 0 0 10px;
  margin: 0 0 12px 0;
  text-transform: uppercase;
}

@media screen and (max-width: 425px) {
  .place__url-heading {
    padding: 0 16px 0 16px;
  }
}
